.bg-color,
section.bg-color,
section.call-to-action,
#mainmenu li li a:hover,
#mainmenu ul li:hover>a,
.price-row,
.slider-info .text1,
.btn-primary,
.bg-id-color,
.dropcap,
.fullwidthbanner-container a.btn,
.feature-box-big-icon i,
#testimonial-full,
.icon-deco i,
.feature-box-small-icon .border,
.date-post,
.team-list .small-border,
.de-team-list .small-border,
.owl-arrow span,
.de-progress .progress-bar,
#btn-close-x:hover,
.box-fx .info,
.btn-more,
.widget .small-border,
.product img:hover,
#btn-search,
.de_tab.timeline li.active .dot,
.btn-id,
.tiny-border,
#subheader .small-border-deco span,
#services-list li a:hover,
.timeline .tl-block .tl-line,
.de_tab.tab_style_2 .de_nav li.active span,
.de_tab.tab_methods.style-2 .de_nav li.active span,
.feature-box-small-icon.style-2 .number.bg-color,
.owl-custom-nav .btn-next:before,
.owl-custom-nav .btn-prev:before,
.timeline>li>.timeline-badge,
.de_light .de_tab.tab_style_3 .de_nav li.active span,
.de_tab.tab_style_4 .de_nav li.active span,
.social-icons-sm i:hover,
.btn-rsvp,
.pricing-s1 .ribbon,
.de_tab.tab_style_4 .de_nav li.active,
#preloader .s1 span,
#filters a.selected,
.custom-show:after,
.custom-close:after,
.widget-post .date,
.style-2 .date-box,
.feature-box-type-1 i,
.owl-item.active>div blockquote:before,
.accordion-section-title:before,
#form_subscribe #btn-submit i,
.bg-gradient-to-right-2,
.feature-box-type-1.hover i,
.feature-box-type-1:hover i,
.ribbon,
.box-icon-simple .num,
.box-highlight.s2,
.feature-box.f-boxed:hover,
.fpw-overlay-btm,
.fp-wrap .fpwow-icons,
.owl-item.active.center .feature-box-type-2,
.testimonial-color .item:nth-child(1n) blockquote:before,
.spinner>div,
.d-gallery-item .dgi-1,
a.btn-border:hover,
.dih-overlay,
.widget_tags li a,
.nav-pills .nav-link.active,
.nav-pills .show>.nav-link,
#selector .sc-opt,
#cookieConsent a.cookieConsentOK,
.mask .cover,
.icon-box:hover,
#topbar,
.feature-box.f-boxed.invert,
.text-light .container-timeline ul li::before,
.text-light .de_countdown,
.de_tab .de_nav li.active span,
.text-light .dropdown li span,
#selector #dark-mode,
#selector #related-items,
.dark-scheme .nft__item .de_countdown,
.info-box i,
.d__table-sch h4,
#audit_form .radio-img input[type="radio"]:checked+label img,
#audit_form .radio-img input[type="checkbox"]:checked+label img,
a.btn-main,
.btn-main,
.bg-color-2,
.bg-color-secondary,
.timeline h5,
.testimonial-color .item:nth-child(2n) blockquote:before,
a.btn-main.bg-color-2,
a.btn-main.invert,
#mainmenu li li a:hover,
#mainmenu ul li:hover>a,
.icon-box.invert:hover,
#form_subscribe #btn-subscribe i.bg-color-secondary,
#jpreBar,
.t-circle,
.nft_item_pp i,
.author_list_pp i,
.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus,
.nft_coll_pp i,
.profile_avatar i,
#btn_copy.clicked,
#form_quick_search #btn-submit i,
.owl-dot.active,
.p_list_pp i,
.author_list_pp img,
.activity-filter li.active,
.dark-scheme .de_countdown.bg-color-secondary,
.btn-line:hover,
a.btn-line:hover,
.btn-line.hover,
a.btn-line.hover,
.de_form input[type="checkbox"]:checked+label:before,
.coll_list_pp i,
#form_sb #btn-submit i,
.de-switch input[type=checkbox]:checked+label,
.nft__item_extra button:hover,
.nft__item_share a,
#de-click-menu-notification .d-count,
.play-pause,
#mainmenu ul li a strong,
.space-border,
body::-webkit-scrollbar-thumb,
#de_modal::-webkit-scrollbar-thumb,
body.dark-scheme::-webkit-scrollbar-thumb,
.dark-scheme #de_modal::-webkit-scrollbar-thumb,
.d_timeline-title:before,
.post-image .d-border,
.de_project-info h4:before,
.d-bar .d-progress-line span,
h5 span.label {
    background: var(--primary-color);
}


a,
a:hover,
footer .widget a:hover,
.id-color,
span.id-color,
.text-light .id-color h3,
.icon-box i,
.mask:hover .cover h3 i,
address.s1 span i,
.de_table .tr .td:nth-child(2) span,
.activity-filter i,
.dark-scheme .demo-icon-wrap i,
.dark-scheme .demo-icon-wrap-s2 span,
.de_tab .de_nav li span,
.dark-scheme .small-border,
.profile_username,
.de_tab.tab_methods .de_nav li.active span i,
a.btn-main.btn-light,
.nft_attr h5,
.de__h-widget i,
#mainmenu a.active,
header.header-light #mainmenu a.active,
.d_timeline-text .d_company,
blockquote.q-big .d-big,
#mainmenu-v2 li a:hover,
#de-menu-container .d-social i:hover {
    color: var(--primary-color);
}

.container-timeline ul li,
blockquote {
    border-left-color: var(--primary-color);
}

header #mainmenu a span,
header.transparent #mainmenu a span,
.de-grey #subheader h1,
h3.s_border {
    border-bottom-color: var(--primary-color);
}


.container-timeline ul li {
    border-top-color: var(--primary-color);
}

.line-preloader .p-line:nth-child(1) {
    border-right-color: var(--primary-color);
    border-bottom-color: var(--primary-color);
}

.line-preloader .p-line:nth-child(2) {
    border-left-color: var(--primary-color);
    border-top-color: var(--primary-color);
}

.line-preloader .p-line:nth-child(3) {
    border-right-color: var(--primary-color);
    border-top-color: var(--primary-color);
}